nav{
  display: flex;
  justify-content: space-evenly;
}
.link{
  font-family: sans-serif;
  text-decoration: none;
  padding: 5px 20px;
  background-color: aliceblue;
  border-radius: 5px;
}
.link:hover{
  background-color: burlywood;
  color: white;
}
h1, h2{
  font-family: sans-serif;
}
ul,li{
  font-style: oblique;
}
form{
  margin: 40px;
}
input{
  margin:5px 20px;
  text-align: center;
}
.submit{
    padding: 8px 12px;
    margin: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
.submit:hover{
  background-color: #6ea8e7;
}
/* In App.css */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 200px;
  transition: transform 0.2s;
}

.product-item:hover {
  transform: scale(1.05);
}

.product-item img {
  border-radius: 4px;
}
